*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/FakeDependency.jar
/caches
/daemon
/wrapper
/native
kotlin-profile/2024-04-19-00-42-54-035.profile
jdks/CACHEDIR.TAG
/kotlin-profile
.idea/misc.xml
/.idea
/.tmp
/.idea
/.idea
.idea/misc.xml
